body {
  background-image: url("emo.jpg");
  font-family: "Major Mono Display", monospace;
  background-size: 100%;
}
h1 {
  font-family: "Major Mono Display", monospace;
  text-align: center;
  color: #d9ffb3;
}
h2 {
  font-family: "Major Mono Display", monospace;
  text-align: left;
  color: #d9ffb3;
}
h3 {
  color: #d9ffb3;
  
}

.column {
  position: absolute;
  left: 150px;
  top: 100px;
  width: 25%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-style: outset;
  border-color: hotpink;
}
.column2 {
  position: absolute;
  right: 150px;
  top: 100px;
  width: 50%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  box-sizing: border-box;
  border-style: outset;
  border-color: hotpink;
}
#back{
    background: rgba(0, 0, 0, 0.5);
    width:100%
}

.profilebig{
    padding-left: 50px;
}

tr{
    text-align: left;
}

a {
color: hotpink;
}

.music{
    padding-top: 20px;
    padding-left: 40px;
}

.credit{
    text-align: center;
    color: greenyellow;
    padding-top: 30px;
}

